body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#bàicái img{
    height: 175px;
    width: 125px;
    margin:1px ;
}
#bàibạn img{
    height: 175px;
    width: 125px;
    margin:1px ;
}
#bốc {
    height: 50px;
    width: 100px;
    font-size: 20px;
}
#ngưng {
    height: 50px;
    width: 100px;
    font-size: 20px;
}